
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'home.css') }}">
<header id="showcase">
    <center>
    <h1>Welcome To WellBot</h1>
    <p>Your Personal palteform where you can open about your sentiment and get help.</p>
    <br>
    <h3>Try it Free Today</h3>
    <div> <img src="static\bot.png" alt="" width="150", height="150"></div>
   
    <a href="http://127.0.0.1:5000/signup" class="button">Sign Up</a>
    </center>
  
  </html>